/* type selector */
h1 {
    margin: 5px 10px;
}

li {
    color: green;
    width: 200px;
}

/* class selector */
.my-list-item {
    background-color: lightgreen;
}

.x {
    border-left: 5px solid lime;
}

.y {
    border-right: 5px solid cyan;
}


/* id selector - not in angular*/
#fifth {
    border-bottom: 5px solid magenta;
}

/* universal selector */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}