body {
    display: flex;
    flex-direction: column;
}

p {
    background: pink;
    height: 50px;
    width: 200px;
    margin: 40px;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
