body {
    font: bold 18px/21px Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

dl {
    padding: 24px 0 0 0;
}

dt {
    background-color: #B8c1c8;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: white;
    margin: 0;
    padding: 2px 0 0 12px;
    position: sticky;
    top: -1px;
}

dd {
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    padding: 0 0 0 12px;
    white-space: nowrap;
}

dd + dd {
    border-top: 1px solid #CCC;
}